@media screen and (max-width: 479px){
 
}

.contents {
    float: none;
}

img {

    max-width: 100%;
    height: auto
;}

.box-parent {
    width: 60px;
    height: 160px;
    background-color: white;
    position: absolute;top: auto;right: 70px;left: 70px;bottom: auto;
}

.flexbox {
    position: absolute;top: 20px;right: 30px;left: 30px;bottom: 20px;
}