@media screen and (max-width: 479px){
    .contents {
        width:100%;
        display: block;
      

    }

.header {
    width: 200px;
    height: 200px;
}

.box-red {
    width: 60px;
    height: 160px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 70px;
    left: 70px;
    bottom: auto;

}

.main {
    display: flex;
    flex-direction: column;
}

.left {
    width: 200px;
    height: 150px;

}


.right {
    display: block;
    width: 200px;
    height: 210px;
    justify-content: space-around;
    
   
}


.box1 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    top: 20px;
    bottom: 5px;
    margin-left: 25px;
    right: 30px;
    border: solid 5px white
    
}

.box2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    top: 5px;
    bottom: 5px;
    margin-left: 25px;
    right: 30px;
    border: solid 5px white
    
}

.box3{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    top: 5px;
    bottom: 20px;
    margin-left: 25px;
    right: 30px;
    border: solid 5px white

}

.footer {
    width: 200px;
    height: 100px;
    display: block;
    margin-top: ;
}
}