@media screen and (max-width: 479px){
 
}

.contents {
    float: none;
}

img {

    max-width: 100%;
    height: auto
;}

.contents {
max-width: 479px; 
width: 100%; 
margin-left: auto; 
margin-right: auto;   
}